# Roblox Open Cloud — NEVER commit your real key to GitHub
ROBLOX_API_KEY=+u+2VHHOw0mKPfZbR9kq9upvga/EoKFn5inIkARclrmQByOwZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNkluTnBaeTB5TURJeExUQTNMVEV6VkRFNE9qVXhPalE1V2lJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUpTYjJKc2IzaEpiblJsY201aGJDSXNJbWx6Y3lJNklrTnNiM1ZrUVhWMGFHVnVkR2xqWVhScGIyNVRaWEoyYVdObElpd2lZbUZ6WlVGd2FVdGxlU0k2SWl0MUt6SldTRWhQZHpCdFMxQm1XbUpTT1d0eE9YVndkbWRoTDBWdlMwWnVOV2x1U1d0QlVtTnNjbTFSUW5sUGR5SXNJbTkzYm1WeVNXUWlPaUl5TnpRNU56SXhOREVpTENKbGVIQWlPakUzT0RJeE5EWTBOakFzSW1saGRDSTZNVGM0TWpFME1qZzJNQ3dpYm1KbUlqb3hOemd5TVRReU9EWXdmUS5Xd1dGQnRDOEVrdW1hVzQzeUlwU1pSYjNpRTI4aXpqZWl4Uy1vUUhydmRDNjNCa3ZTcnN1cHN0ajJORU5xanFmaTc4dk54MHhFYzF6VVVlYkl5VGQ0R1ZmS0hseTc4Rm1rYVllZWk2RjdCZXFHNFZHTWluTV9aY3pkZmVxZlFEXzBnZWtIN2c3c0t2SWtncHY0Yjlvd3lzMnU4UjM5U2hETk1sRGFyUXBvdkxrRGYzWkg5TTVNZFFwUzltWV9XTVZhOVRDM2g5NTVKME9sNHh3WjVvdHVnM29BNWJsYi1vV1pkbHhYanBxeDF5cmJJaHV0eGFfQmpwU21JMHoxbC0xYzhQU1hEX3ltLW5vb3NGX1RqTHZPZ05uX1FHMDNudXJwQWpheERDTGQyNHJmUXI4cFhvZUxmaGRLSHFMNjBzV1ZZYi1rWG8ySC04d2JscURvLTB3cEE=
ROBLOX_UNIVERSE_ID=10333992559
ROBLOX_DATASTORE_NAME=PlayerStore

# Frontend URLs allowed to call this API (comma-separated)
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
